@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Baskerville", sans-serif;
    font-weight: 400px;
    color: rgb(72, 72, 72);
}

/* headings and logo text */

h1, h2 {
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:rgb(72, 72, 72);
    padding: 20px;
}

#logo-text {
    float: left;
    font-size: 300%;
    margin: left;
}

/* nav links and menu section */

#menu-section {
    font-size: 115%;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: capitalize;
    padding: 20px;
}

#menu-section li {
    float: right;
    list-style-type: none;
    margin-right: 28px;
    border: 2px solid #04AA6D;
    padding: 15px;
    border-radius: 25px;
}

#menu-section a {
    text-decoration: none;
    color: inherit;
}

#menu-section a:hover {
    border-bottom: 2px solid #04AA6D;
    color: #04AA6D;
}

.active {
    border-bottom: 1px solid #04AA6D;
}

/* hero-image and slideshow */   

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/home_page/wide_sunsetcropped.png) no-repeat center center;
}

#safari-reasons {
    height: 600px;
}

#left-reasons {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-reasons {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: red;
}

#center-reasons {
    width: 33%;
    margin: 0 auto;
    background-color: blue;
}

.left-reasons-heading {
    width: 59%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 55px;
}

hr {
    border-top: 2px solid rgb(72, 72, 72);
    width: 100%;
    margin: 6px 0;
}

/* footer section */
footer {
    height: 200px;
}

.footer-clean {
    padding: 45px 0;
    background-color: #fff;
    color: #4b4c4d;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 17px;
}
.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 150%;
    margin: 2%;
    padding: 5%;
    color:rgb(72, 72, 72);

}

.footer-content h3, .contact {
    font-family: Baskerville;
    font-size: 100%;
    text-align: center;
    padding-bottom: 20px;
}

/* below credit to https://epicbootstrap.com/snippets/footer-basic */

.footer-content .copyright {
    margin-top:17px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 0;
}
