@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Baskerville", sans-serif;
    font-weight: 400px;
    color: rgb(128,128,128);
}

/* headings and logo text */

h1, h2 {
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:rgb(72, 72, 72);
}

#logo-text {
    float: left;
    font-size: 300%;
}

/* nav links and menu section */

#menu_section {
    font-size: 105%;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: capitalize;
}

#menu_section li {
    float: right;
    list-style-type: none;
    margin-right: 28px;
}

/* footer */
footer {
    height: 200px;
}
