@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Baskerville", sans-serif;
    font-weight: 400px;
    color: rgb(72, 72, 72);
}

/* headings and logo text */

h1, h2 {
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:rgb(72, 72, 72);
    padding: 20px;
}

#logo-text {
    float: left;
    font-size: 300%;
}

/* nav links and menu section */

#menu-section {
    font-size: 115%;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: capitalize;
    padding: 20px;
}

#menu-section li {
    float: right;
    list-style-type: none;
    margin-right: 28px;
    border: 2px solid #FD5E53;
    padding: 15px;
    border-radius: 25px;
}

#menu-section a {
    text-decoration: none;
    color: inherit;
}

#menu-section a:hover {
    border-bottom: 2px solid #FD5E53;
    color:#FD5E53;
}

.active {
    border-bottom: 1px solid #FD5E53;
}

/* hero-image and slideshow */   

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/home_page/giraffe_landscape.jpg) no-repeat center center;
}

#hero-image-text, #hero-image-text h2 {
    color: white;
}

#hero-image-text {
    font-size: 120%;
    font-family: Baskerville, sans-serif;
    letter-spacing: 3px;
    text-transform:capitalize;

    padding-top: 40px;
    padding-left: 10px;
}
/* footer section */
footer {
    height: 200px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 150%;
    margin: 2%;
    padding: 5%;
    color:rgb(72, 72, 72)
}


